[submodule "vim/bundle/detectident"]
	path = vim/bundle/detectident
	url = https://github.com/trolleyman/detectindent
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bash/lib/context-color"]
	path = bash/lib/context-color
	url = https://github.com/trolleyman/context-color
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-fixkey"]
	path = vim/bundle/vim-fixkey
	url = https://github.com/trolleyman/vim-fixkey
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/vim-fish"]
	path = vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "vim/bundle/vim-fakeclip"]
	path = vim/bundle/vim-fakeclip
	url = https://github.com/trolleyman/vim-fakeclip
[submodule "bash/lib/complete-alias"]
	path = bash/lib/complete-alias
	url = https://github.com/trolleyman/complete-alias.git
[submodule "bash/lib/goto"]
	path = bash/lib/goto
	url = https://github.com/iridakos/goto
