[submodule "vim/bundle/detectident"]
	path = vim/bundle/detectident
	url = https://github.com/trolleyman/detectindent
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bash/lib/context-color"]
	path = bash/lib/context-color
	url = git@github.com:trolleyman/context-color
