
[submodule "vim/bundle/detectident"]
	path = vim/bundle/detectident
	url = https://github.com/trolleyman/detectindent
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bash/lib/context-color"]
	path = bash/lib/context-color
	url = https://github.com/trolleyman/context-color
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-fixkey"]
	path = vim/bundle/vim-fixkey
	url = https://github.com/drmikehenry/vim-fixkey
